async-generator
attrs
certifi
charset-normalizer
exceptiongroup
Faker
h11
idna
iniconfig
outcome
packaging
pluggy
py
PySocks
pytest
pytest-base-url
pytest-html
pytest-metadata
pytest-selenium
pytest-variable
python-dateutil
requests
selenium
six
sniffio
sortedcontainers
tenacity
toml
trio
trio-websocket
urllib3
wsproto
